@import "./css/font.css";

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif; 

}

body
{
 margin: 0;
 padding: 0;
 background: linear-gradient(180deg,#B4E1FF,#B0A1D1);/*o degradê vai ocorrer no angulo de 120 com duas cores*/
 height: 100vh;   /*overflow controla o que acontece com o conteudo grande demais para caber em uma area*/
 overflow: hidden;/*O estouro é cortado e o restante do conteudo ficara invisivel*/
}
.center
{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 400px;
 background: white;
 border-radius: 10px;
 box-shadow: 10px 10px 15px rgba(0,0,0,0.05);

}
.center h1
{
   text-align: center;
   color: #000000;
   padding: 20px 0;
   border-bottom: 1px solid #B0A1D1;
}
.center form
{
   padding:0 40px;
   box-sizing: border-box
}
form .txt_field
{
 position: relative;
 border-bottom: 2px solid #B0A1D1;
 margin: 30px 0;
}

.txt_field input
{
 width: 100%;
 padding:0 5px;
 height: 40px;
 font-size: 16px;
 border: none;
 background: none;
 outline: none;
}
.txt_field label
{
 position: absolute;
 top: 50%;
 left: 5px;
 color: #B0A1D1;
 transform: translateY(-50%);
 font-size: 16px;
 pointer-events: none;
 transition: .5s;
}

.txt_field span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #B0A1D1;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
    top: -5px;
    color: #B4E1FF  ;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
    width: 100%;
}
.pass
{
margin: -5px 0 20px 5px;
 color: #B0A1D1;
 cursor: pointer;
}
.pass:hover
{
 text-decoration: underline;
}
input[type="submit"]
{
    width: 100%;
    height: 50px;
    border: 1px solid #B4E1FF;
    background: #B0A1D1;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover
{
    border-color: #B0A1D1;
    transition: .5s;
}
.signup_link
{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}
.signup_link a
{
   color: #B0A1D1;
   text-decoration: none;
}
/* CSS reset */
*, *:before, *:after { 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
 
/* remove a linha dos links */
a{
  text-decoration: none;
}
 
/* esconde as ancoras da tela */
a.links{
  display: none;
}
.content{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 de mai. de 2022, 17:37:25
    Author     : Roma
*/

